<div class="row justify-content-between align-items-center mb-5 mt-5">
  <div class="col-12 col-md-9 col-xl-7">
    <!-- Heading -->
    <h2 class="mb-2">Cambiar contraseña</h2>

    <!-- Text -->
    <p class="text-muted mb-xl-0">
      Enviaremos un mail con una Contraseña temporal.
    </p>
    <!-- Button -->
    <button class="btn btn-white btn-sm mt-2" (click)="forgotPassword()">
      Olvidé mi contraseña
    </button>
  </div>
</div>
<!-- / .row -->

<div class="row">
  <div class="col-12 col-md-6 order-md-2">
    <!-- Card -->
    <div class="card bg-light border ml-md-4">
      <div class="card-body">
        <!-- Text -->
        <p class="mb-2">Requerimientos contraseña</p>

        <!-- Text -->
        <p class="small text-muted mb-2">
          Para crear una nueva contraseña debe incluir los siguientes
          requerimientos:
        </p>

        <!-- List group -->
        <ul class="small text-muted pl-4 mb-0">
          <li>Mínimo 8 caracteres</li>
          <li>Al menos un caracter especial</li>
          <li>Al menos un número</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <!-- Form -->
    <form [formGroup]="securityProfileForm">
      <!-- New password -->
      <div
        class="form-group"
        [ngClass]="{
          'has-danger': hasToDisplayError(currentPassword)
        }"
      >
        <!-- Label -->
        <label class="col-form-label col-form-label-sm">
          Nueva contraseña
        </label>

        <!-- Input -->
        <input
          type="password"
          formControlName="currentPassword"
          minlength="8"
          class="form-control"
          [ngClass]="{
            'is-invalid': hasToDisplayError(currentPassword)
          }"
        />
        <ng-container *ngIf="hasToDisplayError(currentPassword)">
          <div *ngIf="currentPassword.errors.required" class="invalid-feedback">
            * Requerido
          </div>
          <div
            *ngIf="currentPassword.hasError('minlength')"
            class="invalid-feedback"
          >
            Debe tener al menos 8 caracteres
          </div>
          <div
            *ngIf="currentPassword.errors.noSpecialCharacter"
            class="invalid-feedback"
          >
            Debe tener al menos 1 caracter especial (! @ # $ % & )
          </div>
          <div
            *ngIf="currentPassword.errors.noNumbers"
            class="invalid-feedback"
          >
            Debe tener al menos 1 número
          </div>
        </ng-container>
      </div>

      <!-- Confirm new password -->
      <div
        class="form-group"
        [ngClass]="{
          'has-danger': hasToDisplayError(confirmedCurrentPassword)
        }"
      >
        <!-- Label -->
        <label class="col-form-label col-form-label-sm">
          Confirmar nueva contraseña
        </label>

        <!-- Input -->
        <input
          type="password"
          formControlName="confirmedCurrentPassword"
          class="form-control"
          [ngClass]="{
            'is-invalid': hasToDisplayError(confirmedCurrentPassword)
          }"
        />
        <ng-container *ngIf="hasToDisplayError(confirmedCurrentPassword)">
          <div
            *ngIf="confirmedCurrentPassword.errors.required"
            class="invalid-feedback"
          >
            * Requerido
          </div>
          <div
            *ngIf="confirmedCurrentPassword.errors?.invalidPassword"
            class="invalid-feedback"
          >
            La contraseña debe coincidir
          </div>
        </ng-container>
      </div>

      <!-- Submit -->
      <button
        class="btn btn-block btn-primary btn-sm"
        type="submit"
        (click)="updatePassword()"
      >
        Actualizar contraseña
      </button>
    </form>
  </div>
</div>
<!-- / .row -->
