<!-- Card -->
<div class="card mt-5">
  <div class="card-header">
    <!-- Title -->
    <h4 class="card-header-title">
      Notificaciones
    </h4>

    <!-- Button -->
    <button class="btn btn-sm btn-white">
      Deshabilitar todas
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-nowrap card-table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th class="text-center">Email</th>
          <th class="text-center">App</th>
        </tr>
      </thead>
      <tbody class="font-size-base">
        <tr>
          <td>
            Notificación 1
          </td>
          <td class="text-center">
            <!-- Checkbox -->
            <div class="custom-control custom-checkbox mr-n3">
              <input
                type="checkbox"
                class="custom-control-input"
                id="emailCheckboxOne"
                checked
              />
              <label
                class="custom-control-label"
                for="emailCheckboxOne"
              ></label>
            </div>
          </td>
          <td class="text-center">
            <!-- Checkbox -->
            <div class="custom-control custom-checkbox mr-n3">
              <input
                type="checkbox"
                class="custom-control-input"
                id="smsCheckboxOne"
                checked
              />
              <label class="custom-control-label" for="smsCheckboxOne"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
