<!-- Header -->
<div class="header mt-md-5">
  <div class="header-body border-bottom-0">
    <div class="row align-items-center">
      <div class="col">
        <!-- Pretitle -->
        <h6 class="header-pretitle">Cuenta</h6>

        <!-- Title -->
        <h1 class="header-title">Perfil</h1>
      </div>
    </div>
    <!-- / .row -->
    <div class="row align-items-center">
      <div class="col-12">
        <tabset>
          <tab heading="General" id="tab1">
            <general-profile></general-profile>
          </tab>
          <tab heading="Seguridad">
            <security-profile></security-profile>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
