<div
  class="container"
  style="padding-top: 3%; margin-left: 15%; margin-right: 15%"
>
  <div class="row align-items-center">
    <div
      class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0"
    >
      <!-- Image -->
      <div class="text-center">
        <img
          src="assets/img/illustrations/coworking.svg"
          alt="..."
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">Restaurar Password</h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Ingrese su usuario y mail para recibir su nueva contraseña temporal.
      </p>

      <!-- Form -->
      <form [formGroup]="resetPasswordForm">
        <!-- Email address -->
        <div
          class="form-group"
          [ngClass]="{
            'has-danger': hasToDisplayError(mail)
          }"
        >
          <!-- Label -->
          <label class="col-form-label col-form-label-sm mb-1">Email</label>

          <!-- Input -->
          <input
            type="text"
            class="form-control"
            formControlName="mail"
            [ngClass]="{
              'is-invalid': hasToDisplayError(mail)
            }"
          />
          <ng-container
            *ngIf="hasToDisplayError(resetPasswordForm.controls.mail)"
          >
            <div *ngIf="mail.errors.required" class="invalid-feedback">
              <div>* Requerido</div>
            </div>
          </ng-container>
        </div>

        <!-- Submit -->
        <button
          class="btn btn-lg btn-block btn-primary mb-3"
          (click)="resetUserPassword()"
        >
          Restaurar
        </button>

        <!-- Link -->
        <div class="text-center">
          <small class="text-muted text-center">
            ¿Recuerda su contraseña?
            <a [routerLink]="['/login']">Ingreso</a>.
          </small>
        </div>
      </form>
    </div>
  </div>
</div>
